/* start vars */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-background: #ececec;
}
/* end vars */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--main-color);
  color: #ffffff;
}

body {
  font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Componatnt */
.special-heading {
  padding: 5px 10px;
  margin: 0 auto 80px;
  width: fit-content;
  border: 2px solid;
  text-transform: uppercase;
  font-size: 38px;
  position: relative;
  transition: var(--main-transition);
}
.special-heading::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
  transition: calc(var(--main-transition) * 2);
}
.special-heading::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
  transition: calc(var(--main-transition) * 2);
}
.special-heading:hover {
  color: #ffffff;
  border-color: #ffffff;
  transition-delay: .7s;
  z-index: 2;
}
.special-heading:hover::before {
  animation: special-heading-l .7s linear ;
  animation-fill-mode: forwards;
  z-index: -1;
}
.special-heading:hover::after {
  animation: special-heading-r .7s linear ;
  animation-fill-mode: forwards;
  z-index: -1;
}
@keyframes special-heading-l {
  50% {
    transform: translateX(25.5px) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  100% {
    transform: translateX(24px) translateY(-50%);
    width: calc(50% + 1px);
    height: 100%;
    border-radius: 0;
  }
}
@keyframes special-heading-r {
  50% {
    transform: translateX(-25.5px) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  100% {
    transform: translateX(-24px) translateY(-50%);
    width: calc(50% + 1px);
    height: 100%;
    border-radius: 0;
  }
}
/* End Componant */
header {
  background-color: #ffffff;
  position: relative;
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: 0 -7px 10px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width:767px) {
  header .container {
    flex-direction: column;
  }
  header .nav ul li > a {
    margin-top: -30px;
    font-size: 15px;
  }
}
header .logo {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
  font-size: 23px;
  padding: 0 10px;
  height: 72px;
  display: flex;
  align-items: center;
  cursor: default;
}
header .container .nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
header .nav ul li > a {
  text-decoration: none;  
  color: black;
  position: relative;
  padding: 0 20px;
  text-align: center;
  height: 72px;
  text-transform: capitalize;
  font-size: 19px;
  height: 72px;
  display: flex;
  align-items: center;
  transition: var(--main-transition);
}
header .nav ul li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .nav ul li > a::before {
  content: "";
  background-color: var(--main-color);
  width: 0;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
header .nav ul li > a:hover::before {
  width: 100%;
}
header .container .nav-menu{
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(30px);
  background-color: #ffffff;
  width: 100%;
  padding: 30px;
  border-bottom: 4px solid var(--main-color);
  transition: var(--main-transition);
  top: calc(100% + 1px);
  opacity: 0;
  z-index: -1;
  max-height: calc(100vh - 114px);
}
header .container ul > li:last-child:hover .nav-menu {
  display: flex;
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  z-index: 100;
}
header .nav-menu img {
  height: 250px;
}
@media (max-width:991px) {
  header .nav-menu img {
    display: none;
  }
  header .nav-menu {
    justify-content: space-evenly;
  }
}
header .nav-menu .links a {
  text-decoration: none;  
  color: var(--main-color);
  position: relative;
  padding: 15px 20px ;
  display: block;
  padding-left: 50px;
  text-transform: capitalize;
  font-size: 19px;
  transition: var(--main-transition);
  min-width: 300px;
  max-width: 100%;
  background-color: #ffffff;
  font-weight: 600;
  z-index: 5;
}
header .nav-menu .links a:not(:last-child) {
  border-bottom: 1px solid var(--section-background);
}
header .nav-menu .links a i{
  position: absolute;
  left: 10px;
}
header .nav-menu .links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  width: 0;
  height: 100%;
  transition: var(--main-transition);
  z-index: -1;
}
header .nav-menu .links a:hover::before {
  width:100% ;
  z-index: -1;
}
@media (max-width:767px) {
  header .container {
    flex-direction: column;
  }
  header .nav ul li > a {
    margin-top: -15px;
    font-size: 15px;
    height: 40px;
    padding: 0 15px;
  }
  header .container .nav-menu {
    flex-direction: column;
    padding: 5px;
    gap: 0;
  }
  header .container .nav-menu .links:first-of-type a {
    border-bottom: 1px solid var(--section-background);
  }
}
.landing {
  background-color: var(--section-background);
  height: calc(100vh - 89px);
  position: relative;
  z-index: -2;

}
@media (max-width: 767px) {
  .landing {
    height: calc(100vh - 114px);
  }
}
.landing .container {
  display: flex;
  align-items: center;
  padding-top: 80px;
  justify-content: space-between;
}
.landing .container img {
  width: 600px;
  animation: up-down 3s infinite linear;
}
.landing .text-area h1 {
  text-transform: capitalize;
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.landing .text-area p {
  line-height: 1.7;
  color: #666;
  font-size: 25px;
}
@media (max-width: 992px) {
  .landing .container img {
    display: none;
  }
  .landing .container .text-area {
    text-align: center;
  }
}
.landing svg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -8;
}
.landing-bottom {
  display: flex;
  justify-content: center;
}
.landing .landing-bottom a {
  position: absolute;
  bottom: 10px;
  color: var(--main-color);
  font-weight: bold;
  animation: down-up 2s infinite;
  text-decoration: none;
  cursor: pointer;
}
@keyframes down-up {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-10px);
  }
  50% {
    transform: translatey(0px);
  }
  75% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes up-down {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatey(-20px);
  }
  75% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .container .articles-box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .articles-box .article {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.262);
  overflow: hidden;
  border-radius: 10px;
  transition: var(--main-transition);
}
.articles .article:hover {
  transform: translatey(-20px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.462);
}
.articles .article img {
  max-width: 100%;
}
.articles .article .text-box {
  padding: 20px;
}
.articles .article .text-box h4 {
  text-transform: capitalize;
  margin-bottom: 15px;
  font-size: 18px;
}
.articles .article .text-box p {
  color: #666;
  line-height: 1.8;
}
.articles .article .footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--section-background);
  color: var(--main-color);
}
.articles .article .footer a {
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--main-color);
}
.articles .article:hover .footer i {
  animation: left-right .5s ease-in infinite;
}
@keyframes left-right {
  100% {
    transform: translateX(8px);
  }
}
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background);
}
.gallery .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
  gap: 40px;
}
.gallery .img-container .image {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.302);
}
.gallery .img-container .image::before {
  content: "";
  background-color: #ffffff2c;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.gallery .img-container .image:hover::before {
  animation: flow var(--main-transition) ease-out;
}
.gallery .img-container .image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  border: 13px solid #ffffff;
}
.gallery .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .img-container .image:hover img {
  transform: rotate(4deg) scale(1.1);
}
@keyframes flow {
  100% {
    width: 100%;
    height: 100%;
  }
}
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.features .features-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px , 1fr));
  gap: 40px;
}
.features .features-container .feature {
  border: 1px solid #ccc;
  overflow: hidden;
}
.features .features-container .feature .image img{
  max-width: 100%;
}
.features .image {
  position: relative;
}
.features .features-container .feature .image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.features .feature:nth-child(1) .image::after {
  background-color: rgb(244, 64, 54, 60%);
}
.features .feature:nth-child(2) .image::after {
  background-color: rgb(0, 150, 136, 60%);
}
.features .feature:nth-child(3) .image::after {
  background-color: rgb(3, 169, 244, 60%);
}
.features .feature .image::before {
  content: "";
  width: 0;
  height: 0;
  bottom: -173px;
  border: 354px solid;
  border-color: transparent transparent #ffffff;
  left: 0;
  position: absolute;
  z-index: 5;
  transform: rotate(27deg);
  transition: var(--main-transition);
}
.features .feature:hover .image::before {
    content: "";
    bottom: -173px;
    border: 354px solid;
    border-color: transparent transparent #ffffff;
    left: -105%;
    position: absolute;
    transform: translateX(10px);
    transform: rotate(-22deg);
}
.features .feature .text-area {
  text-align: center;
  z-index: 5;
  position: relative;
}
.features .feature .text-area h3 {
  font-size: 34px;
  text-transform: capitalize;
  margin: 60px auto;
  position: relative;
  width: fit-content;
}
.features .feature .text-area h3::after {
  content: "";
  width: 80%;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feature:nth-child(1) .text-area h3::after {
  background-color: #f44036;
}
.features .feature:nth-child(2) .text-area h3::after {
  background-color: #009688;
}
.features .feature:nth-child(3) .text-area h3::after {
  background-color: #03a9f4;
}
.features .feature .text-area p {
  line-height: 1.8;
  color: #666;
  font-size: 22px;
  padding: 0 15px;
}
.features .feature .more {
  text-transform: capitalize;
  margin: 50px auto 30px;
  width: fit-content;
  border: 3px solid;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  transition: var(--main-transition);
  cursor: pointer;
}
.features .feature:nth-child(1) .more {
  border-color: #f44036;
  color: #f44036;
}
.features .feature:nth-child(2) .more {
  border-color: #009688;
  color: #009688;
}
.features .feature:nth-child(3) .more {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .feature .more::before {
  content: "";
  height: calc(100% - 1px);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: var(--main-transition);
}
.features .feature:nth-child(1) .more:before {
  background-color: #f44036;
}
.features .feature:nth-child(2) .more:before {
  background-color: #009688;
}
.features .feature:nth-child(3) .more:before {
  background-color: #03a9f4;
}
.features .feature:hover .more::before {
  width: 100%;
  z-index: -1;
}
.features .feature:hover .more {
  color: white;
}